body {
    background-color: antiquewhite;
    scroll-behavior: smooth;
}

.cot {
    text-align: center;
    justify-content: space-around;
    margin-left: 100px;
}

.multi {
    float: left;
    display: inline;
    height: 400px;
    width: 300px;
    margin: 15px;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
}

.multi:hover {
    transform: scale(1.1);
    box-shadow: -2px 4px 4px 2px rgba(13, 13, 0, 0.949);
}

img {
    height: 200px;
}

input {

    margin: 8px;
    text-align: center;
    height: 55px;
    border-radius: 50px;
}

input:focus {
    outline: none;
}

.nav {
    background-color: #0000007d;

    justify-content: space-around;
    top: 0;
}